name: shift-education-user-service

services:
  postgres:
    image: postgres:17
    restart: on-failure
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: user-service
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
    volumes:
      - ./postgres/init.sql:/docker-entrypoint-initdb.d/init.sql
      - postgres_data:/var/lib/postgresql

volumes:
  postgres_data:
